.footer-part {
    background-image: url(../../../images/footer-bg.png);
    background-size: cover;
}

.footer-part li {
    padding-bottom: 10px;
    list-style: none;
}

.social-media .icon {
    height: 40px;
    width: 40px;
    color: #1CC7C1;
    border-radius: 50%;
    border: 1px solid #1CC7C1;
    padding: 10px;
    transition: all linear .3s;
}

.social-media .icon:hover {
    background-color: #1CC7C1;
    color: white;
}