.top-menu {}

.navbar a {}

.navbar-nav {}

.navbar-nav .nav-item {
    margin-left: 15px;
}

.navbar-nav .nav-item .nav-link {
    color: #1CC7C1 !important;
    font-weight: bold;
    font-size: 17px;
}