.make-appointment {
    background-image: url('../../../images/appointment-img.png');
    background-repeat: no-repeat;
    background-position: left center;
    height: 370px;
    /* margin-top: 200px; */
    /* background-size: cover; */
}

.appointment-overlay {
    background-color: rgba(58, 66, 86, 0.95);
    height: 370px;
}

.make-appointment img {
    position: relative;
    bottom: 75px;
}

.makeAppointment-btn {
    padding: 6px 25px;
    background-color: #1CC7C1;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: all linear .3s;
}

.makeAppointment-btn:focus {
    outline: none;
}